<div class="body-content">
    <div class="d-flex justify-content-center mb-4">
        <h3>Registrar</h3>
    </div>

    <form novalidate [formGroup]="registerForm">
        <mi-input label="Nome" icon="fa-user">
            <input class="input-auth" type="text" formControlName="firstname" placeholder="Informe seu nome" />
        </mi-input>
    
        <mi-input label="Sobrenome" icon="fa-user">
            <input class="input-auth" type="text" formControlName="lastname" placeholder="Informe seu sobrenome" />
        </mi-input>
    
        <mi-input label="E-mail" icon="fa-envelope">
            <input class="input-auth" type="text" formControlName="email" placeholder="Insira seu e-mail" />
        </mi-input>
    
        <mi-input label="Senha" icon="fa-lock">
            <input class="input-auth" type="text" formControlName="password" placeholder="Insira sua senha" />
        </mi-input>
    
        <mi-input label="Confirmar senha" icon="fa-lock">
            <input class="input-auth" type="text" formControlName="email" placeholder="Confirme sua senha" />
        </mi-input>
    </form>

    <div class="mt-4 content-btn">
        <button class="login-btn" [class.disabled]="!registerForm.valid" routerLink="/home" [disabled]="!registerForm.valid" (click)="registerUser(registerForm.value)">
            Registrar
        </button>
    </div>
    
    <div class="mt-5 text-center">
        Já está cadastrado? <a class="register-btn" (click)="goToAuth()">Fazer login</a>
    </div>
</div>