<div class="body-content">
    <div class="d-flex justify-content-center mb-4">
        <h3>Login</h3>
    </div>
    
    <form novalidate [formGroup]="authForm">
        <mi-input label="E-mail" icon="fa-envelope" errorMessage="O e-mail deve conter no minimo 8 caracteres">
            <input class="input-auth" type="text" formControlName="email" placeholder="Insira seu e-mail" />
        </mi-input>

        <mi-input label="Senha" icon="fa-lock" errorMessage="A senha deve conter no minimo 8 caracteres">
            <input class="input-auth" type="password" formControlName="password" placeholder="Insira sua senha" />
        </mi-input>
    </form>
    
    <mi-auth-btn [status]="requestStatus" [disabled]="authForm.valid" (onTap)="login(authForm.value)"></mi-auth-btn>
    
    <div class="mt-5 text-center">
        Ainda não está cadastrado? <a class="register-btn" (click)="goToRegister()">Cadastra-se agora</a>
    </div>
</div>