:host {
    width: 75%;
    height: 100%;
}

h3 {
    font-size: 35px;
    font-weight: bold;
}

.fullpage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, #051937, #002360, #00298a, #062bb2, #4820d7);
}

.body {    
    width: 27%;
    margin: 0;
    background-color: white;
    padding: 3%;
    overflow-y: auto;
    max-height: 90%;
    box-shadow: 5px 5px 7px rgb(30,30,30);
}

.body-content {
    width: 100%;
    margin: 0;
}

.input-auth {
    border: none;
    outline: none;
    width: 100%;
}

.register-btn {
    cursor: pointer;
}

@media (max-width: 1750px) {
    .body {
        width: 30%;
    }
}

@media (max-width: 1600px) {
    .body {
        width: 35%;
    }
}

@media (max-width: 1200px) {
    .body {
        width: 40%;
    }
}

@media (max-width: 1000px) {
    .body {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .body {
        width: 57%;
    }
}

@media (max-width: 650px) {
    .body {
        width: 65%;
    }
}

@media (max-width: 550px) {
    .body {
        width: 80%;
    }
}